In [27]:
import jsonlines

In [35]:
# Пути к файлам с логами
log_file1 = 'log_a.jsonl'
log_file2 = 'log_b.jsonl'

In [36]:
# Читаем данные из первого файла
logs1 = []
with jsonlines.open(log_file1) as reader:
    for log in reader:
        logs1.append(log)

# Читаем данные из второго файла
logs2 = []
with jsonlines.open(log_file2) as reader:
    for log in reader:
        logs2.append(log)

In [40]:
merged_logs = sorted(logs1 + logs2, key=lambda x: x['timestamp'])

checking if sorting was right

In [41]:
df = pd.DataFrame.from_dict(merged_logs, orient='columns')
df

,log_level,timestamp,message
0,INFO,2023-07-18 18:00:09,Amy killed an apple at park tomorrow
1,WARNING,2023-07-18 18:00:09,Leela killed a car near the Square Garden tomo...
2,WARNING,2023-07-18 18:00:10,Leela killed a boat at park day before yesterday
3,DEBUG,2023-07-18 18:00:14,Amy saw a mall in L.A. yesterday
4,ERROR,2023-07-18 18:00:14,Amy saw a fish on the Mars yesterday
...,...,...,...
17794525,ERROR,2024-10-24 6:17:27,Bender saw a rocket in L.A. today
17794526,WARNING,2024-10-24 6:17:29,Fry ate a fish in L.A. tomorrow
17794527,ERROR,2024-10-24 6:17:37,Dr. Zoidberg took a bottle of bear near the Sq...
17794528,ERROR,2024-10-24 6:17:37,Farnsworth killed a bottle of bear near the Sq...
17794529,WARNING,2024-10-24 6:17:45,Farnsworth brought a boat at park day before y...

In [45]:
df.timestamp.is_monotonic_descending

AttributeError: 'Series' object has no attribute 'is_monotonic_descending'